.button-style {
    -fx-border-radius: 5px;
    -fx-background-color: #58CAA5;
    -fx-text-fill: white;
}

.label-style {
    -fx-font-weight: bold;
}

.body-style {
    -fx-background-image: url("../images/backgounds/clean-background.jpg");
    -fx-background-size: cover;
}

.bg1 {
    -fx-background-image: url("../images/backgounds/1.jpg");
    -fx-background-size: cover;
}
.bg2 {
    -fx-background-image: url("../images/backgounds/2.jpg");
    -fx-background-size: cover;
}
.bg3 {
    -fx-background-image: url("../images/backgounds/3.jpg");
    -fx-background-size: cover;
}
.bg4 {
    -fx-background-image: url("../images/backgounds/4.jpg");
    -fx-background-size: cover;
}
.bg5 {
    -fx-background-image: url("../images/backgounds/5.jpg");
    -fx-background-size: cover;
}
.bg6 {
    -fx-background-image: url("../images/backgounds/6.jpg");
    -fx-background-size: cover;
}
.bg7 {
    -fx-background-image: url("../images/backgounds/7.jpg");
    -fx-background-size: cover;
}

.default-color0.chart-pie { -fx-pie-color: #fbff75; }
.default-color1.chart-pie { -fx-pie-color: #ff9f52; }
.default-color2.chart-pie { -fx-pie-color: #ff7e74; }
.default-color3.chart-pie { -fx-pie-color: #c6ff68; }
.default-color4.chart-pie { -fx-pie-color: #7ba8ff; }

.chart-pie-label-line {
    -fx-fill: #2E112D;
}
.chart-pie-label {
    -fx-fill: #2E112D;
    -fx-font-size: 1em;
}
.chart-legend {
    -fx-background-color: #F1D0BD;
    -fx-stroke: #fff;
}

.table-style {
    -fx-alignment: center-right;
}

